<div class="scrollable ng-scope" ng-controller="userInfoCtrl">
    <div class="scrollable-content section overthrow">
        <div class="list-group" ng-if="user">
            <div class="list-group-item list-group-item-home">
                你的大名：{{user.name}}
            </div>

            <div class="list-group-item list-group-item-home">
                男OR女：{{user.sex}}
            </div>

            <div class="list-group-item list-group-item-home">
                手机号码：{{user.tel}}
            </div>
        </div>
    </div>
</div>